<form class="{{cssClass}}" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <div class="profile-img-container">
      <img
        class="profile-img"
        src="{{actor.img}}"
        data-edit="img"
        alt="{{actor.name}}"
        title='{{localize 'SWADE.RightClickZoom'}}'
      />
    </div>
    <div class="header-fields">
      <div class="charline">
        <h1 class="charname">
          <input
            name="name"
            type="text"
            value="{{actor.name}}"
            placeholder="{{localize 'SWADE.Name'}}"
          />
        </h1>
      </div>
      <section class="header-stats flexrow">
        <div class="form-group">
          <label for="size">{{localize "SWADE.Size"}}</label>
          <input
            name="data.size"
            id="size"
            type="text"
            value="{{data.data.size}}"
            data-dtype="Number"
            placeholder="0"
          />
        </div>
        <div class="form-group">
          <label for="scale">{{localize "SWADE.Scale"}}</label>
          <input
            name="data.scale"
            id="scale"
            type="text"
            value="{{data.data.scale}}"
            data-dtype="Number"
            placeholder="0"
          />
        </div>
        <div class="form-group">
          <label for="handling">{{localize "SWADE.Handling"}}</label>
          <input
            id="handling"
            name="data.handling"
            type="text"
            value="{{data.data.handling}}"
            data-dtype="Number"
            placeholder="{{localize 'SWADE.Handling'}}"
          />
        </div>
      </section>
      <section class="header-stats flexrow">
        <div class="form-group">
          <label for="topspeed" style="white-space: nowrap"
            >{{localize "SWADE.Topspeed"}}</label
          >
          <input
            name="data.topspeed"
            id="topspeed"
            type="text"
            value="{{data.data.topspeed}}"
            data-dtype="String"
            placeholder="0"
          />
        </div>
        <div class="form-group">
          <label for="toughness">{{localize "SWADE.Tough"}}</label>
          <input
            name="data.toughness.total"
            id="toughness"
            type="text"
            value="{{data.data.toughness.total}}"
            data-dtype="String"
            placeholder="0"
          />
        </div>
        <div class="form-group">
          <label for="armor">{{localize "SWADE.Armor"}}</label>
          <input
            name="data.toughness.armor"
            id="armor"
            type="text"
            value="{{data.data.toughness.armor}}"
            data-dtype="String"
            placeholder="0"
          />
        </div>
      </section>
      <section class="header-stats flexrow">
        <div class="form-group">
          <input
            name="data.classification"
            id="classification"
            type="text"
            value="{{data.data.classification}}"
            data-dtype="String"
            placeholder="{{localize 'SWADE.Class'}}"
          />
        </div>
        <div class="status-item">
          <label class="check-container"
            >{{localize "SWADE.OutOfControl"}}
            <input
              type="checkbox"
              name="data.status.isOutOfControl"
              data-dtype="Boolean"
              {{checked
              data.data.status.isOutOfControl}}
            />
            <span class="checkmark"></span>
          </label>
        </div>
        <div class="status-item">
          <label class="check-container"
            >{{localize "SWADE.Wrecked"}}
            <input
              type="checkbox"
              name="data.status.isWrecked"
              data-dtype="Boolean"
              {{checked
              data.data.status.isWrecked}}
            />
            <span class="checkmark"></span>
          </label>
        </div>
      </section>
    </div>
  </header>

  <nav class="flexrow tabs" data-group="primary">
    <a class="item" data-tab="summary">{{localize "SWADE.Summary"}}</a>
    <a class="item" data-tab="cargo">{{localize "SWADE.Cargo"}}</a>
    <a class="item" data-tab="description">{{localize "SWADE.Desc"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <main class="sheet-body">
    {{!-- Summary Tab --}}
    <div class="tab active" data-group="primary" data-tab="summary">
      {{> "systems/swade/templates/actors/vehicle-partials/summary-tab.hbs"}}
    </div>

    {{!-- Inventory Tab --}}
    <div class="tab inventory" data-group="primary" data-tab="cargo">
      {{> "systems/swade/templates/actors/vehicle-partials/cargo-tab.hbs"}}
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{>
      "systems/swade/templates/actors/vehicle-partials/description-tab.hbs"}}
    </div>
  </main>
</form>
