<form class='{{cssClass}}' autocomplete='off'>
  <nav class='sheet-tabs tabs'>
    <a class='item active' data-tab='basics'>
      <i class='fas fa-cogs'></i>
      {{localize 'SWADE.WorldBasics'}}
    </a>
    <a class='item' data-tab='setting-rules'>
      <i class='fas fa-globe'></i>
      {{localize 'SWADE.SettingRules'}}
    </a>
    <a class='item' data-tab='bennies'>
      <i class='fas fa-coins'></i>
      {{localize 'SWADE.Bennies'}}
    </a>
    <a class='item' data-tab='additional-stats'>
      <i class='fas fa-plus-square'></i>
      {{localize 'SWADE.AddStats'}}
    </a>
  </nav>
  <section class='sheet-body'>
    <!-- World Basics -->
    <section class='tab active' data-tab='basics'>
      <!-- Initiative -->
      <fieldset id='initiative'>
        <legend>{{localize 'SWADE.Init'}}</legend>
        <!-- Deck -->
        <div class='form-group'>
          <label>{{localize 'SWADE.InitCardDeck'}}</label>
          <div class='form-fields'>
            <select name='settingRules.actionDeck'>
              {{#select settingRules.actionDeck}}
                {{selectOptions
                  actionDeckChoices
                  selected=settingRules.actionDeck
                }}
              {{/select}}
            </select>
          </div>
          <p class='notes'></p>
        </div>
        <!-- Discard Pile -->
        <div class='form-group'>
          <label>{{localize 'SWADE.InitDiscardPile'}}</label>
          <div class='form-fields'>
            <select name='settingRules.actionDeckDiscardPile'>
              {{#select settingRules.actionDeckDiscardPile}}
                {{selectOptions
                  discardPileChoices
                  selected=settingRules.actionDeckDiscardPile
                }}
              {{/select}}
            </select>
          </div>
          <p class='notes'></p>
        </div>
      </fieldset>
      <!-- Characters -->
      <fieldset id='characters'>
        <legend>{{localize 'SWADE.Characters'}}</legend>
        <div class='form-group'>
          <label>{{localize 'SWADE.EnableWoundPace'}}</label>
          <div class='form-fields'>
            <input
              type='checkbox'
              name='settingRules.enableWoundPace'
              data-dtype='Boolean'
              {{checked settingRules.enableWoundPace}}
            />
          </div>
          <p class='notes'>{{localize 'SWADE.EnableWoundPaceDesc'}}</p>
        </div>
      </fieldset>
      <!-- Vehicles -->
      <fieldset id='vehicles'>
        <legend>{{localize 'SWADE.Vehicles'}}</legend>
        <div class='form-group'>
          <label>{{localize 'SWADE.VehicleMods'}}</label>
          <div class='form-fields'>
            <input
              type='checkbox'
              name='settingRules.vehicleMods'
              data-dtype='Boolean'
              {{checked settingRules.vehicleMods}}
            />
          </div>
          <p class='notes'>{{localize 'SWADE.VehicleModsDesc'}}</p>
        </div>
        <div class='form-group'>
          <label>{{localize 'SWADE.VehicleEdges'}}</label>
          <div class='form-fields'>
            <input
              type='checkbox'
              name='settingRules.vehicleEdges'
              data-dtype='Boolean'
              {{checked settingRules.vehicleEdges}}
            />
          </div>
          <p class='notes'>{{localize 'SWADE.VehicleEdgesDesc'}}</p>
        </div>
      </fieldset>
    </section>
    <!-- Setting Rules -->
    <section class='tab' data-tab='setting-rules'>
      <!-- Hard Choices -->
      <div class='form-group'>
        <label>{{localize 'SWADE.HardChoices'}}</label>
        <div class='form-fields'>
          <input
            type='checkbox'
            name='settingRules.hardChoices'
            data-dtype='Boolean'
            {{checked settingRules.hardChoices}}
          />
        </div>
        <p class='notes'>{{localize 'SWADE.HardChoicesDesc'}}</p>
      </div>
      <!-- Conviction -->
      <div class='form-group'>
        <label>{{localize 'SWADE.EnableConv'}}</label>
        <div class='form-fields'>
          <input
            type='checkbox'
            name='settingRules.enableConviction'
            data-dtype='Boolean'
            {{checked settingRules.enableConviction}}
          />
        </div>
        <p class='notes'>{{localize 'SWADE.EnableConvDesc'}}</p>
      </div>
      <!-- Joker's Wild -->
      <div class='form-group'>
        <label>{{localize 'SWADE.JokersWild'}}</label>
        <div class='form-fields'>
          <input
            type='checkbox'
            name='settingRules.jokersWild'
            data-dtype='Boolean'
            {{checked settingRules.jokersWild}}
          />
        </div>
        <p class='notes'>{{localize 'SWADE.JokersWildDesc'}}</p>
      </div>
      <!-- No Power Points -->
      <div class='form-group'>
        <label>{{localize 'SWADE.NoPowerPoints'}}</label>
        <div class='form-fields'>
          <input
            type='checkbox'
            name='settingRules.noPowerPoints'
            data-dtype='Boolean'
            {{checked settingRules.noPowerPoints}}
          />
        </div>
        <p class='notes'>{{localize 'SWADE.NoPowerPointsDesc'}}</p>
      </div>
      <!-- Encumbrance -->
      <div class='form-group'>
        <label>{{localize 'SWADE.ApplyEncumbrance'}}</label>
        <div class='form-fields'>
          <input
            type='checkbox'
            name='settingRules.applyEncumbrance'
            data-dtype='Boolean'
            {{checked settingRules.applyEncumbrance}}
          />
        </div>
        <p class='notes'>{{localize
            'SWADE.ApplyEncumbranceHint'
            vigor=(localize 'SWADE.AttrVig')
            fatigue=(localize 'SWADE.Fatigue')
          }}</p>
      </div>
      <!-- Core Skills -->
      <fieldset id='core-skills'>
        <legend>{{localize 'SWADE.CoreSkills'}}</legend>
        <div class='form-group'>
          <label>{{localize 'SWADE.CoreSkillsList'}}</label>
          <div class='form-fields'>
            <textarea
              style='resize: none;'
              name='settingRules.coreSkills'
              data-dtype='String'
              placeholder='Example: Athletics, Common Knowledge, Notice, Persuasion, Stealth'
            >{{settingRules.coreSkills}}</textarea>
          </div>
          <p class='notes'>{{localize 'SWADE.CoreSkillsDesc'}}</p>
        </div>
        <div class='form-group'>
          <label>{{localize 'SWADE.CoreSkillsPack'}}</label>
          <div class='form-fields'>
            <select name='settingRules.coreSkillsCompendium'>
              {{#select settingRules.coreSkillsCompendium}}
                {{selectOptions coreSkillPackChoices}}
              {{/select}}
            </select>
          </div>
          <p class='notes'>{{localize 'SWADE.CoreSkillsPackDesc'}}</p>
        </div>
      </fieldset>
      <!-- Wealth -->
      <fieldset id='wealth'>
        <legend>{{localize 'SWADE.Wealth'}}</legend>
        <div class='form-group'>
          <label>{{localize 'SWADE.WealthType'}}</label>
          <div class='form-fields'>
            <select name='settingRules.wealthType'>
              {{#select settingRules.wealthType}}
                <option value='currency'>{{localize 'SWADE.Currency'}}</option>
                <option value='wealthDie'>{{localize
                    'SWADE.WealthDie.Label'
                  }}</option>
                <option value='none'>{{localize
                    'SWADE.WealthSelectionNoneOther'
                  }}</option>
              {{/select}}
            </select>
          </div>
          <p class='notes'>{{localize 'SWADE.WealthTypeDesc'}}</p>
        </div>
        {{#if (eq settingRules.wealthType 'currency')}}
          <div class='form-group'>
            <label>{{localize 'SWADE.CurrencyName'}}</label>
            <div class='form-fields'>
              <input
                type='text'
                name='settingRules.currencyName'
                value='{{settingRules.currencyName}}'
              />
            </div>
            <p class='notes'>{{localize 'SWADE.CurrencyNameDesc'}}</p>
          </div>
        {{/if}}
      </fieldset>
      <!-- Ammo Management -->
      <fieldset id='ammo'>
        <legend>{{localize 'SWADE.Ammo'}}</legend>
        <div class='form-group'>
          <label>{{localize 'SWADE.AmmoManagement'}}</label>
          <div class='form-fields'>
            <input
              type='checkbox'
              name='settingRules.ammoManagement'
              data-dtype='Boolean'
              {{checked settingRules.ammoManagement}}
            />
          </div>
          <p class='notes'>{{localize 'SWADE.AmmoManagementDesc'}}</p>
        </div>
        {{#if settingRules.ammoManagement}}
          <div class='form-group'>
            <label>{{localize 'SWADE.PCAmmoFromInventory'}}</label>
            <div class='form-fields'>
              <input
                type='checkbox'
                name='settingRules.ammoFromInventory'
                data-dtype='Boolean'
                {{checked settingRules.ammoFromInventory}}
              />
            </div>
            <p class='notes'>{{localize 'SWADE.PCAmmoFromInventoryDesc'}}</p>
          </div>
          <div class='form-group'>
            <label>{{localize 'SWADE.NPCAmmoFromInventory'}}</label>
            <div class='form-fields'>
              <input
                type='checkbox'
                name='settingRules.npcAmmo'
                data-dtype='Boolean'
                {{checked settingRules.npcAmmo}}
              />
            </div>
          </div>
          <div class='form-group'>
            <label>{{localize 'SWADE.VehicleAmmoFromInventory'}}</label>
            <div class='form-fields'>
              <input
                type='checkbox'
                name='settingRules.vehicleAmmo'
                data-dtype='Boolean'
                {{checked settingRules.vehicleAmmo}}
              />
            </div>
          </div>
        {{/if}}
      </fieldset>
    </section>
    <!-- Benny Settings -->
    <section class='tab' data-tab='bennies'>
      <div class='form-group'>
        <label>{{localize 'SWADE.GmBennies'}}</label>
        <div class='form-fields'>
          <input
            type='number'
            name='settingRules.gmBennies'
            value='{{settingRules.gmBennies}}'
            data-dtype='Number'
          />
        </div>
        <p class='notes'>{{localize 'SWADE.GmBenniesDesc'}}</p>
      </div>
      <div class='form-group'>
        <label>{{localize 'SWADE.BennyImageSheet'}}</label>
        <div class='form-fields'>
          {{filePicker target='settingRules.bennyImageSheet' type='image'}}
          <input
            type='text'
            name='settingRules.bennyImageSheet'
            value='{{settingRules.bennyImageSheet}}'
            data-dtype='String'
          />
        </div>
        <p class='notes'>{{localize 'SWADE.BennyImageSheetDesc'}}</p>
      </div>
      {{#if dice3d}}
        <h3>{{localize 'SWADE.3DBennies'}}</h3>
        <p class='notification info' style='margin: 0 5px 10px 5px;'>
          {{localize 'SWADE.ChangeBennyWarning'}}
        </p>
        <!-- Textures -->
        <fieldset>
          <legend>Textures</legend>
          <div class='form-group'>
            <label>{{localize 'SWADE.Benny3DFront'}}</label>
            <div class='form-fields'>
              {{filePicker
                target='settingRules.bennyImage3DFront'
                type='image'
              }}
              <input
                type='text'
                name='settingRules.bennyImage3DFront'
                value='{{settingRules.bennyImage3DFront}}'
                data-dtype='String'
              />
            </div>
            <p class='notes'>{{localize 'SWADE.Benny3DFrontDesc'}}</p>
          </div>
          <div class='form-group'>
            <label>{{localize 'SWADE.Benny3DBack'}}</label>
            <div class='form-fields'>
              {{filePicker target='settingRules.bennyImage3DBack' type='image'}}
              <input
                type='text'
                name='settingRules.bennyImage3DBack'
                value='{{settingRules.bennyImage3DBack}}'
                data-dtype='String'
              />
            </div>
            <p class='notes'>{{localize 'SWADE.Benny3DBackDesc'}}</p>
          </div>
        </fieldset>
        <!-- Bumpmaps -->
        <fieldset>
          <legend>Bumpmaps</legend>
          <div class='form-group'>
            <label>{{localize 'SWADE.Benny3DFrontBump'}}</label>
            <div class='form-fields'>
              {{filePicker target='settingRules.3dBennyFrontBump' type='image'}}
              <input
                type='text'
                name='settingRules.3dBennyFrontBump'
                value='{{settingRules.3dBennyFrontBump}}'
                data-dtype='String'
              />
            </div>
            <p class='notes'>{{localize 'SWADE.Benny3DFrontBumpDesc'}}</p>
          </div>
          <div class='form-group'>
            <label>{{localize 'SWADE.Benny3DBackBump'}}</label>
            <div class='form-fields'>
              {{filePicker target='settingRules.3dBennyBackBump' type='image'}}
              <input
                type='text'
                name='settingRules.3dBennyBackBump'
                value='{{settingRules.3dBennyBackBump}}'
                data-dtype='String'
              />
            </div>
            <p class='notes'>{{localize 'SWADE.Benny3DBackBumpDesc'}}</p>
          </div>
        </fieldset>
      {{/if}}
    </section>
    <!-- Additional Stats -->
    <section
      class='tab attributes'
      data-tab='additional-stats'
      id='setting-specific'
    >
      <h3>{{localize 'SWADE.Actors'}}</h3>
      <ul class='stats-container'>
        <li class='attribute attributes-header'>
          <span class='attribute-key'>Stat Key</span>
          <span class='attribute-label'>Label</span>
          <span class='attribute-dtype'>Data Type</span>
          <span class='attribute-maxValue'>Has Max Value</span>
          <a class='attribute-control' data-action='createChar'><i
              class='fas fa-plus'
            ></i></a>
        </li>
        {{#each actorSettingStats as |attr key|}}
          <li class='attribute' data-attribute='{{key}}'>
            <input
              class='attribute-key'
              type='text'
              name='actorSettingStats.{{key}}.key'
              value='{{key}}'
            />
            <input
              class='attribute-label'
              type='text'
              name='actorSettingStats.{{key}}.label'
              value='{{attr.label}}'
            />
            <select
              class='attribute-dtype'
              name='actorSettingStats.{{key}}.dtype'
            >
              {{#select attr.dtype}}
                {{selectOptions @root.dtypes selected=attr.dtype localize=true}}
              {{/select}}
            </select>
            <input
              class='attribute-maxValue'
              type='checkbox'
              name='actorSettingStats.{{key}}.hasMaxValue'
              {{checked attr.hasMaxValue}}
            />
            <a class='attribute-control' data-action='delete'><i
                class='fas fa-trash'
              ></i></a>
          </li>
        {{/each}}
      </ul>
      <hr />
      <h3>{{localize 'SWADE.Items'}}</h3>
      <ul class='stats-container'>
        <li class='attribute attributes-header'>
          <span class='attribute-key'>Stat Key</span>
          <span class='attribute-label'>Label</span>
          <span class='attribute-dtype'>Data Type</span>
          <span class='attribute-maxValue'>Has Max Value</span>
          <a class='attribute-control' data-action='createItem'><i
              class='fas fa-plus'
            ></i></a>
        </li>
        {{#each itemSettingStats as |attr key|}}
          <li class='attribute' data-attribute='{{key}}'>
            <input
              class='attribute-key'
              type='text'
              name='itemSettingStats.{{key}}.key'
              value='{{key}}'
            />
            <input
              class='attribute-label'
              type='text'
              name='itemSettingStats.{{key}}.label'
              value='{{attr.label}}'
            />
            <select
              class='attribute-dtype'
              name='itemSettingStats.{{key}}.dtype'
            >
              {{#select attr.dtype}}
                {{selectOptions @root.dtypes selected=attr.dtype localize=true}}
              {{/select}}
            </select>
            <input
              class='attribute-maxValue'
              type='checkbox'
              name='itemSettingStats.{{key}}.hasMaxValue'
              {{checked attr.hasMaxValue}}
            />
            <a class='attribute-control' data-action='delete'><i
                class='fas fa-trash'
              ></i></a>
          </li>
        {{/each}}
      </ul>
    </section>
  </section>
  <footer class='sheet-footer flexrow'>
    <button type='submit' name='submit' id='submit'>
      <i class='far fa-save'></i>{{localize 'SETTINGS.Save'}}
    </button>
    <button type='reset' name='reset' id='reset'>
      <i class='fas fa-undo'></i>{{localize 'SETTINGS.Reset'}}
    </button>
  </footer>
</form>