<form autocomplete="off">
  <header class="header">
    <h1>{{deckName}}</h1>
    <button type="button" class="add-card">{{localize "SWADE.Add"}}</button>
  </header>
  <section class="body">
    <ul class="card-list">
      {{#each cards as |card|}}
      <li class="flexrow">
        <img
          class="card-face"
          src="{{card.data.img}}"
          alt="{{card.name}}"
          data-id="{{card.id}}"
        />
        <span class="flexcol card-details">
          <span class="form-group">
            <label>{{localize "Name"}}</label>
            <span class="form-fields">
              <input
                type="text"
                name="{{card.id}}.name"
                value="{{card.name}}"
              />
            </span>
          </span>
          <span class="form-group">
            <label>{{localize "SWADE.CardFace"}}</label>
            <span class="form-fields">
              <input
                type="text"
                name="{{card.id}}.img"
                value="{{card.data.img}}"
              />
              <button
                type="button"
                class="file-picker"
                data-type="image"
                data-target="{{card.id}}.img"
                title="Browse Files"
              >
                <i class="fas fa-file-import fa-fw"></i>
              </button>
            </span>
          </span>
          <span class="form-group">
            <label>{{localize "SWADE.CardValue"}}</label>
            <span class="form-fields">
              <input
                type="number"
                data-dtype="Number"
                name="{{card.id}}.cardValue"
                value="{{card.data.flags.swade.cardValue}}"
              />
            </span>
          </span>
          <span class="form-group">
            <label>{{localize "SWADE.CardSuit"}}</label>
            <span class="form-fields">
              <input
                type="number"
                data-dtype="Number"
                name="{{card.id}}.suitValue"
                value="{{card.data.flags.swade.suitValue}}"
              />
            </span>
          </span>
          <span class="form-group">
            <label>{{localize "SWADE.IsJoker"}}</label>
            <span class="form-fields">
              <input
                type="checkbox"
                data-dtype="Number"
                name="{{card.id}}.isJoker"
                value="{{card.data.flags.swade.isJoker}}"
                {{checked
                card.data.flags.swade.isJoker}}
              />
            </span>
          </span>
        </span>
      </li>
      {{/each}}
    </ul>
  </section>
  <button type="submit" name="submit" id="submit">
    <i class="far fa-save"></i>{{localize "SETTINGS.Save"}}
  </button>
</form>
