<form
  class="main-grid {{cssClass}}{{#if settingrules.conviction}} conviction-enabled{{/if}}"
  autocomplete="off"
>
  <figure class="grid-under gu-1"></figure>
  <figure class="grid-under gu-2"></figure>
  <figure class="grid-under gu-3"></figure>
  <figure class="grid-under gu-4"></figure>
  <div class="char-img-container">
	  <img class="profile-img" src="{{actor.img}}" data-edit="img" alt="{{actor.name}}" title="{{localize 'SWADE.RightClickZoom'}}">
	</div>

  {{!-- Sheet Header --}}
  <label class="gridcell charname-container">
    <span class="sr-only">{{localize 'Name'}}</span>
    <input
      type="text"
      name="name"
      class="charname"
      value="{{actor.name}}"
      placeholder="{{localize 'Name'}}"
    />
  </label>
  <figure class="gridcell branding"></figure>
  {{#if settingrules.conviction}}
  <div id="conviction" class="gridcell">
    <button type="button" class="conviction-toggle">
      <strong class="{{#if data.data.details.conviction.active}}pulse{{/if}}">
        {{~#if data.data.details.conviction.active~}} {{localize
        "SWADE.ConvictionActive"}} {{~else~}} {{localize "SWADE.Conv"}} {{/if}}
      </strong>
    </button>
    <div>
      <input
        type="Number"
        class="conviction-counter"
        name="data.details.conviction.value"
        value="{{data.data.details.conviction.value}}"
        class="character-detail"
        data-dtype="Number"
      />
    </div>
  </div>
  {{/if}}

  <span class="gridcell character-detail race">
    <button type="button"><i class="fas fa-edit"></i></button>
    <label class="sr-only">{{localize species.label}}</label>
    <span class="display" data-detail="data.details.species.name" data-label="{{species.label}}">{{species.value}}</span>
  </span>
  <span class="gridcell character-detail archetype">
    <button type="button"><i class="fas fa-edit"></i></button>
    <label class="sr-only">{{localize archetype.label}}</label>
    <span class="display" data-detail="data.details.archetype" data-label="{{archetype.label}}">{{archetype.value}}</span>
  </span>
  <span class="gridcell character-detail rank">
    <label class="sr-only">{{localize 'SWADE.Rank'}}</label>
    <input
      type="text"
      name="data.advances.rank"
      value="{{data.data.advances.rank}}"
      placeholder="{{localize 'SWADE.Rank'}}"
      {{disabled advances.expanded}}
    />
  </span>
  <span class="gridcell character-detail advances">
    <a>{{localize 'SWADE.Adv'}}</a>
    <input
      type="number"
      name="data.advances.value"
      value="{{data.data.advances.value}}"
      {{disabled advances.expanded}}
    />
  </span>

  {{!-- Sheet Tab Navigation --}}
  <nav class="gridcell tabs" data-group="primary">
    <a class="item" data-tab="summary" data-group="primary">{{localize "SWADE.Summary"}}</a>
    <a class="item" data-tab="edges" data-group="primary">{{localize "SWADE.EdgesHindrances"}}</a>
    <a class="item" data-tab="effects" data-group="primary">{{localize "SWADE.Effects"}}</a>
    <a class="item" data-tab="inventory" data-group="primary">{{localize "SWADE.Inv"}}</a>
    {{#if actor.hasArcaneBackground}}
    <a class="item" data-tab="powers" data-group="primary">{{localize "SWADE.Pow"}}</a>
    {{/if}}
    <a class="item" data-tab="about" data-group="primary">{{localize "SWADE.About"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <main class="gridcell sheet-body">
    {{!-- Summary Tab --}}
    <section class="tab summary active" data-group="primary" data-tab="summary">
      {{> "systems/swade/templates/official/tabs/summary.hbs"}}
    </section>

    {{!-- Edges/Hindrances Tab --}}
    <section class="tab edges" data-group="primary" data-tab="edges">
      {{> "systems/swade/templates/official/tabs/edges.hbs"}}
    </section>

    {{!-- Effects Tab --}}
    <section class="tab effects" data-group="primary" data-tab="effects">
      {{> "systems/swade/templates/official/tabs/effects.hbs"}}
    </section>

    {{!-- Inventory Tab --}}
    <section class="tab inventory" data-group="primary" data-tab="inventory">
      {{> "systems/swade/templates/official/tabs/inventory.hbs"}}
    </section>

    {{!-- Powers Tab --}} 
    {{#if actor.hasArcaneBackground}}
    <section class="tab powers" data-group="primary" data-tab="powers">
      {{> "systems/swade/templates/official/tabs/powers.hbs"}}
    </section>
    {{/if}}

    {{!-- Biography Tab --}}
    <section class="tab about" data-group="primary" data-tab="about">
      {{> "systems/swade/templates/official/tabs/about.hbs"}}
    </section>
  </main>

  <figure class="grid-cover gc-1"></figure>
  <figure class="grid-cover gc-2"></figure>
  <figure class="grid-cover gc-3"></figure>
  <figure class="grid-cover gc-4"></figure>
</form>
