#combat.swade {
  li.combatant {
    .roll {
      background: url(../../systems/swade/assets/ui/ace-white.svg) no-repeat 50%
        50%;
      &:hover {
        background: url(../../systems/swade/assets/ui/ace-color.svg) no-repeat
          50% 50%;
      }
    }
    .token-initiative {
      flex: 0 0 60px;
      border-right-width: 3px;
      border-right-style: solid;
    }
  }
}
