.swade.sheet.item {
  min-width: 560px;
  .window-content {
    padding: 5px;
    //overflow-y: scroll;
  }

  // Sheet Header
  .sheet-header {
    overflow: hidden;
    flex-wrap: nowrap;
    flex: 0 0 72px;
  }

  // Profile Image
  .profile-img-container {
    width: 64x;
    max-width: 64px;
    height: 64x;
    margin-right: 2px;
    .profile-img {
      margin: 0;
      border: none;
      object-fit: contain;
      transition: 150ms filter linear;
      cursor: pointer;
      filter: drop-shadow(0.2em 0.4em 0.3em rgba(0, 0, 0, 0.5));
      &:hover,
      &:focus {
        filter: drop-shadow(0.2em 0.4em 0.3em rgba(0, 0, 0, 0.8));
      }
    }
  }

  .itemline {
    height: 60px;
    width: 100%;
    display: inline-flex;
    .itemname {
      height: 100%;
      margin: 0;
      input {
        width: 100%;
        height: 100%;
        margin: 0;
      }
    }
    .item-controls {
      width: 10%;
      text-align: center;
      margin-left: 4px;
      line-height: 72px;
    }
  }

  // Header Fields
  .header-fields {
    input[type='text'] {
      background: none;
      border: 1px solid transparent;
    }
    flex: 1;
    padding: 5px;
  }

  .sheet-body {
    .editor {
      border: $section-border;
      height: 300px;
      padding: 0 3px;
    }
    .item-stats {
      max-width: 30%;
      margin-right: 5px;
    }
    .header-field {
      @extend %header-field;
      margin-bottom: 0px;
    }
  }

  // Powers
  .powers {
    margin: 3px 0;
    .header-field-add {
      line-height: 24px;
      margin-left: 5px;
    }

    .creators-arcane-skill {
      display: flex;
      justify-content: flex-start;
      color: #fff;
      select,
      input {
        color: $light-pastel-blue;
        font-weight: bold;
        background: rgba(255, 255, 255, 0.2);
      }
      select {
        margin-left: 1em;
        width: 60px;
      }
      input {
        width: 40px;
        &::placeholder {
          color: #ccc;
        }
      }
    }

    .arcane-tabs {
      display: flex;
      .arcane {
        cursor: pointer;
        width: 90px;
        height: 24px;
        text-align: center;
        line-height: 22px;
        overflow: hidden;
        border: 1px solid rgba(0, 0, 0, 0.5);
        background: $header-text;
        &:hover,
        &:focus {
          background: $dark-grey;
          text-shadow: none;
        }
        &.active {
          background: $dark-grey;
        }
      }
    }
    .power-counter {
      display: none;
      input {
        width: 40px;
        color: $light-pastel-blue;
        font-weight: bold;
        background: rgba(255, 255, 255, 0.2);
      }
      &.active {
        display: block;
      }
    }
    .powers-list {
      display: flex;
      flex-direction: row;
      align-content: start;
      flex-wrap: wrap;
      overflow: auto;
      .power {
        display: none;
        margin: 2px;
        flex-grow: 0;
        flex-basis: calc(50% - 4px);
        height: 250px;
        border: $decorative-line;
        border-top-left-radius: 4px;
        border-radius: 2px;
        &.active {
          display: block;
        }
        .power-header {
          background: rgba(0, 0, 0, 0.05);
          border-bottom: $decorative-line;
          h4 {
            margin: 0;
            padding: 5px;
            white-space: nowrap;
            overflow: hidden;
          }
          .item-image {
            flex-grow: 0;
            flex-basis: 25px;
            @extend %item-background-image;
          }
          .item-controls {
            padding: 5px;
            flex-grow: 0;
            flex-wrap: nowrap;
            color: black;
            a + a {
              margin-left: 5px;
            }
            .item-unequipped {
              color: rgba(0, 0, 0, 0.2);
            }
          }
        }
        .power-content {
          margin: 0 3px;
          line-height: 24px;
          padding: 5px;
          height: calc(100% - 30px);
          overflow-y: auto;
          .power-details {
            font-size: 12px;
            line-height: 12px;
            font-weight: 600;
            text-indent: 5px;
          }
          .power-description {
            line-height: 15px;
          }
        }
      }
    }
  }

  .actions-list {
    max-height: 400px;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
  }

  .effects-list {
    max-height: 150px;
    overflow-y: scroll;
  }

  .actions-container {
    display: grid;
    gap: $grid-gap;

    grid-template-columns: repeat(2, 1fr) 32px;
    grid-template-rows: auto;
    padding: $small-spacing 0;
  }

  .actions-container + .actions-container {
    border-top: $decorative-line;
  }

  .action-name {
    grid-column: 1;
    label {
      text-align: center;
    }
  }
  .action-type {
    grid-column: 2;
    label {
      text-align: center;
    }
  }
  .action-input-left {
    grid-column: 1;
    label {
      text-align: center;
    }
    input {
      place-self: center;
    }
  }
  .action-input-right {
    grid-column: 2;
    label {
      text-align: center;
    }
    input {
      place-self: center;
    }
  }
  .action-delete {
    grid-column: 3;
    place-self: center;
  }

  .additional-stats button {
    width: 80%;
    line-height: 22px;
  }
}
