.roll-dialog {
  font-family: var(--default-font);
  .window-content {
    background-image: url(./assets/main_bg.webp);
  }
  .modifiers {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .modifier-entry {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    padding: 0.5em 0.5em 0.25em 0.5em;
    text-align: center;
    font-weight: bold;
    &:not(:first-of-type) {
      border-top: 1px solid var(--color-text-light-3);
    }
    input[type='checkbox'],
    label {
      margin: auto;
    }
  }
  .modifier-presets {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    padding: 0.5em 0.5em 0.25em 0.5em;
    select {
      grid-column: 1 / span 2;
    }
    button {
      grid-column: 3 / span 1;
    }
  }
  .add-modifier,
  .add-preset {
    line-height: inherit;
  }
  .header {
    text-align: center;
    border-bottom: 2px groove var(--color-border-light-highlight);
  }
  .footer {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
  }
  .formula {
    .input {
      background: rgba(0, 0, 0, 0.05);
      border: 1px solid var(--color-border-light-tertiary);
      color: var(--color-text-dark-primary);
      padding: 1px 3px;
      border-radius: 3px;
      display: flex;
      user-select: text;
      word-break: break-word;
    }
  }
}
